player-connection-mode=Listen
player-connection-guid=241730058
player-connection-debug=0
player-connection-project-name=Friendsn't Games
player-connection-ip=192.168.1.135
player-connection-ip=192.168.204.1
player-connection-ip=192.168.74.1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
